body{
    background-color: black;
}

.wrapper{
    display:flex;
    flex-direction:column;
    align-items: center;
}

h1{text-align: center;
    font-size: 40px;
    font-style: italic;
    text-decoration-line: underline ;
    color: cornsilk;

}

#time{
    height: 50px;
    width: 400px;
    color:coral;
    border: 3px solid coral;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
}

p{
    color: cornsilk;
    text-align: center;
    font-size: 20px;
    margin-top: 20px ;
}

