.btn{
    width:200px;
    height: 70px;
    background-color: yellow;
    text-transform: uppercase;
    border-radius: 30px;
    border:none;
    margin: 10px;
}

.hello{
    background-color: violet;
}